#App
NODE_ENV=dev
NODE_PORT=8000

KAKAO_DEV_HOST=https://dapi.kakao.com/v2/local/search/keyword.json
KAKAO_DEV_REST_API_KEY=
KAKAO_DEV_JDK=

KAKAO_API_MAP_HOST=https://map.kakao.com
KAKAO_API_SEARCH=/link/search

MONGO_IP=
MONGO_PORT=
MONGO_USER=
MONGO_PWD=
MONGO_DB_NAME=
MONGO_CACHE_NAME=

MAPBOX_API_HOST=https://api.mapbox.com
MAPBOX_TOKEN=
MAPBOX_DIRECTION_PATH=directions/v5/mapbox/walking
MAPBOX_STATIC_IMAGE_PATH=styles/v1/mapbox

IMG_SWEET_URL=